@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-black text-white antialiased text-2xl;
  overflow: hidden;
}

.video {
  z-index: 1;
  @apply w-screen h-screen;
}
.video video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
.inner {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  @apply bg-black/90 flex flex-col w-full h-full text-center items-center justify-center gap-16;
  z-index: 100;
}
.content {
  @apply w-1/2 flex-initial grow-0;
}
.wrong {
  @apply line-through;
}

.maintenance {
  @apply text-red-500 text-xl -rotate-12 ml-24 -mt-2 box-border;
}

.infos {
  @apply text-lg;
}

a,
a:visited,
a:active,
a:link {
  padding-bottom: 1px;
  border-bottom: 1px solid;
}

a:hover {
  @apply text-yellow-200;
}
